:root {
  --white-900: #ffffff;
  --black-900: #000000;
  --black-800: #131313;
  --gray-100: #e7e7e7;
  --gray-150: #a5a0a0;
  --gray-200: #636363;

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  background-color: var(--black-800);
  color: var(--white-900);
}

body,
input,
textarea,
button {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1076px;
  margin: auto;
  width: 100%;
  padding: 0 16px;
}

.main__container {
  margin: 100px auto;
}

.button--primary {
  background-color: var(--white-900);
  color: var(--black-900);
}

.button {
  font-weight: 400;
  line-height: 1.2;
  text-transform: lowercase;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.8s;
  border: 0;
}

.button:hover {
  background-color: var(--gray-150);
}
